@charset "UTF-8";

:root{
    --primar-color: #FED001;
}

html {
    font: 400 62.5% 'inter', sans-serif;
}

p, a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
    margin: 4rem 0;
}

h3{
    font-size: 3.2rem;
    margin: 3.2rem 0;
}

.upper{
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    background-color: var(--primar-color);
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 1.6rem 4rem;
     color: black;
}

.section_title{
    text-align: center;
}

.section_btn{
    margin: 4.5rem;
}

nav a{
    color: inherit;
}

.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}
.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}
.wrapperContainer-light{
    background-color: #fafafa;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primar-color);
    padding: 2rem 0;
}
.header_nav a{
    padding: .75em 1.15rem;
    border: 1px solid;
    text-decoration: none;
}
.header_nav ul{
    display: flex;
    gap: .6rem;
    list-style-type: none;
}
.header_nav a:hover{
background-color: black;
}

.wrapperContainer_hero{
    background-image: linear-gradient(to top, var(--primar-color), white);
}
.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}
.hero-title{
    margin-bottom: 4rem;
}

.cursos{
    text-align: center;
}
.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}
.curso_card{
    
    flex: 1;
}
.curso_card img{
    display: block;
    width: 100%;
}
.curso_card h3{
    font-size: 2.4rem;
}
.curso_card p{
    font-size: 1.6rem;
    line-height: 1.5;
}
.cursos_card_content{
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    border: 1px solid #ccc;
    border-top: transparent;
    height: 24rem;
}

.escola{
    display: flex;
    gap: 7rem;
    padding-top: 6rem;
}
.escola_title{
    font-size: 3.2rem;
    margin-top: 6rem;
}
.escola p{
    font-size: 1.8rem;
    line-height: 1.5;
}
.page_address{
    margin: 2rem 0;
    text-align: right;
    font-size: 1.8rem;
}

.footer{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.3rem;
}